<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>>入室審査</title>
    <script>
        function onload() {
            setTimeout(() => open('about:blank', '_self').close(), 3000);
        }
    </script>
</head>
<body onload="onload()">
    <h1>操作は正常に完了しました。</h1>
    <h2>この画面は数秒後に自動的に閉じます。</h2>
</body>
</html>